<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">
        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Me</p>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-map"></i>
                    <h3>My Address</h3>
                    <p>336 Street, Sangkat Beoung Salang, Khan Toul Kork, Phnom Penh</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-share-alt"></i>
                    <h3>Social Profiles</h3>
                    <div class="social-links">
                        <a href="https://www.facebook.com/sivlayyi" target="_blank" class="facebook"><i
                                class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/yi.sivlay" target="_blank" class="instagram"><i
                                class="bi bi-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/sivlay-yi-716b65161" target="_blank" class="linkedin"><i
                                class="bi bi-linkedin"></i></a>
                        <a href="https://twitter.com/SivlayYI" target="_blank" class="twitter"><i
                                class="bi bi-twitter"></i></a>
                        <a href="https://www.youtube.com/@sivlayyi" target="_blank" class="youtube"><i
                                class="bi bi-youtube"></i></a>
                        <a href="https://www.tiktok.com/@sivlayyi" target="_blank" class="tiktok"><i
                                class="bi bi-tiktok"></i></a>
                        <a href="https://github.com/yisivlay" target="_blank" class="github"><i
                                class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Me</h3>
                    <p>sivlayyi.bs@gmail.com</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-phone-call"></i>
                    <h3>Call Me</h3>
                    <p>(+855) 884 7777 54 / 695 777 54</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->