<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="section-title">
            <h2>Portfolio</h2>
            <p><a href="https://www.caminfoservices.com" target="_blank">Public Works at Cam info Services (CIS)</a></p>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-web">Web</li>
                </ul>
            </div>
        </div>
        <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="static/assets/img/portfolio/cdc-qip.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>QIP Registration Platform</h4>
                        <p>Qualified Investment Project Registration Platform</p>
                        <div class="portfolio-links">
                            <a href="static/assets/img/portfolio/cdc-qip.png" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="Qualified Investment Project Registration Platform"><i
                                    class="bx bx-plus"></i></a>
                            <a href="https://qip.cdc.gov.kh/home-page" target="_blank" title="Go to website"><i
                                    class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="static/assets/img/portfolio/quick-tax.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>QT QuickTax</h4>
                        <p>ប្រព័ន្ធសេវាអនុលោមភាពពន្ធដារ <br/>
                            បង្កើតព័ត៌មានគណនេយ្យស្មុគស្មាញជាប្រព័ន្ធទៅក្នុងរបាយការណ៍ពន្ធដារ។</p>
                        <div class="portfolio-links">
                            <a href="static/assets/img/portfolio/quick-tax.png" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="QT QuickTax"><i class="bx bx-plus"></i></a>
                            <a href="https://quicktax-pro.com/home-page/login-page" target="_blank"
                               title="QT QuickTax"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="static/assets/img/portfolio/covid-vaccin.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>COVID-19 Vaccination System</h4>
                        <p>COVID-19 Vaccination Page</p>
                        <div class="portfolio-links">
                            <a href="static/assets/img/portfolio/covid-vaccin.png" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="COVID-19 Vaccination Page"><i
                                    class="bx bx-plus"></i></a>
                            <a href="https://covid19.mod.gov.kh/login" target="_blank"
                               title="COVID-19 Vaccination Page"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="static/assets/img/portfolio/cambo-trade.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Cambodia Trade</h4>
                        <p>Cambodia eCommerce website - B2B2C e-commerce marketplace</p>
                        <div class="portfolio-links">
                            <a href="static/assets/img/portfolio/cambo-trade.png" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="Cambodia Trade"><i class="bx bx-plus"></i></a>
                            <a href="https://cambodiatrade.com/home-page" target="_blank"
                               title="Cambodia Trade"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="static/assets/img/portfolio/121shoppe.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>121 SHOPPE</h4>
                        <p>The eMarketplace</p>
                        <div class="portfolio-links">
                            <a href="static/assets/img/portfolio/121shoppe.png" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="121 SHOPPE"><i class="bx bx-plus"></i></a>
                            <a href="https://121shoppe.com/home-page" target="_blank"
                               title="121 SHOPPE"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Portfolio Section -->
