<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">
        <div class="section-title">
            <h2>Resume</h2>
            <p>Check My Resume</p>
        </div>
        <div class="row">
            <div class="col-lg-6"c>
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor of Computer Science and Engineering</h4>
                    <h5>2014 - 2018</h5>
                    <p><em>Royal University of Phnom Penh, Toul Kork, Phnom Penh</em></p>
                </div>
                <div class="resume-item">
                    <h4>High School</h4>
                    <h5>2010 - 2013</h5>
                    <p><em>Pak Klang High School, Pak Klang, Koh Kong</em></p>
                </div>
                <div class="resume-item">
                    <h4>Secondary School</h4>
                    <h5>2007 - 2010</h5>
                    <p><em>Pak Klang Secondary School, Pak Klang, Koh Kong</em></p>
                </div>
                <div class="resume-item">
                    <h4>Primary School</h4>
                    <h5>2001 - 2007</h5>
                    <p><em>Pak Klang Primary School, Pak Klang, Koh Kong</em></p>
                    <h5>2000 - 2001</h5>
                    <p><em>Steung Hav Primary School, Steung Hav, Sihaknuk</em></p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Experience</h3>
                <div class="resume-item">
                    <h4>Senior System Engineering</h4>
                    <h5>2021 - Present</h5>
                    <p><em><a href="https://www.caminfoservices.com" target="_blank">Cam info Service (CIS)</a>, Sen Sok, Phnom Penh </em></p>
                    <ul>
                        <li>
                            Java & Spring Boot
                        </li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Web Application Developer</h4>
                    <h5>Feb 2021 - Jun 2021</h5>
                    <p><em><a href="https://www.facebook.com/infinitytechappsdev" target="_blank">Infinity Information & Apps Dev</a>, Amass Central Tower, Phnom Penh </em></p>
                    <ul>
                        <li>
                            PHP & Laravel
                        </li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Senior System Engineering</h4>
                    <h5>2018 - 2021</h5>
                    <p><em><a href="https://www.caminfoservices.com" target="_blank">Cam info Service (CIS)</a>, Sen Sok, Phnom Penh </em></p>
                    <ul>
                        <li>
                            Java & Spring Boot
                        </li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Internship IT Technical Support</h4>
                    <h5>2017 - 2018</h5>
                    <p><em><a href="https://www.amkcambodia.com/en" target="_blank">AMK Microfinance Institution Plc.</a>, 285 Yothapol Khemarak Phoumin Blvd (271), Phnom Penh </em>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>3D Animator</h4>
                    <h5>2015 - 2016</h5>
                    <p><em><a href="https://www.facebook.com/DigitalWorksKhmer" target="_blank">Digital Works Khmer (DWK)</a>, No. 33-34, St. 114, F2, Bayon Market, Sangkat Monorom Khan 7
                        Makara Phnom Penh </em></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Resume Section -->