<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">
        <div class="section-title">
            <h2>Resume</h2>
            <p>Check My Resume</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor of Computer Science and Engineering</h4>
                    <h5>2014 - 2018</h5>
                    <p><em>Royal University of Phnom Penh, Toul Kork, Phnom Penh</em></p>
                    <p>Coming soon</p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Senior System Engineering</h4>
                    <h5>2018 - Present</h5>
                    <p><em>Cam info Service (CIS), Sen Sok, Phnom Penh </em></p>
                    <p>
                    <ul>
                        <li>
                            Coming soon
                        </li>
                        <li>
                            Coming soon
                        </li>
                        <li>
                            Coming soon
                        </li>
                        <li>Coming soon</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Resume Section -->